<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>

    <sectionGroup name="test">

      <section name="singleServer"    type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
      <section name="defaultLocator" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>

  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="10.30.201.143" port="11211" />
        <add address="10.30.201.140" port="11211" />
        <add address="10.30.201.141" port="11211" />
        <add address="10.30.201.142" port="11211" />
      </servers>
      
      <locator type="MemcachedSessionProvider.SessionNodeLocator, MemcachedSessionProvider" />
    </memcached>
  </enyim.com>

  <test>
    <singleServer protocol="Binary">
      <servers>
        <add address="10.30.201.143" port="11211" />
      </servers>

      <locator type="MemcachedSessionProvider.SessionNodeLocator, MemcachedSessionProvider" />
    </singleServer>

    <defaultLocator protocol="Binary">
      <servers>
        <add address="10.30.201.143" port="11211" />
        <add address="10.30.201.140" port="11211" />
        <add address="10.30.201.141" port="11211" />
        <add address="10.30.201.142" port="11211" />
      </servers>
    </defaultLocator>
  </test>
</configuration>